<div class="container">
  <form action="/emp/save-emp" method="post">
    <div>
      <label>Enter Your name</label>
      <input type="text" />
    </div>
    <div>
      <label>Enter Your email</label>
      <input type="text" />
    </div>
    <div>
      <label>Enter Your Phone</label>
      <input type="text" />
    </div>
    <div>
      <label>Enter Your City</label>
      <input type="text" />
    </div>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>