<div class="container">
  <div>
    <h1>Employee Management System</h1>
    <a href="/emp/add-emp"><button class="btn btn-primary">Add User</button></a>
    <a href="/emp/show-all-emp"><button class="btn btn-info">Show Employees</button></a>
  </div>
</div>